<!-- CHANGE PASS -->
<section id="change-password">
  <h1>CHANGE PASSWORD</h1>
  <form id="change-password-form">
    <div class="center">
      <input name="passwords[old]" type="password" placeholder="CURRENT PASSWORD" class="input-field">
      <input name="passwords[new]" type="password" placeholder="NEW PASSWORD" class="input-field">
      <button id="changePassButton" class="little-button">CONFIRM</button>
    </div>
  </form>
</section>
