<!-- INSTRUCTIONS SECTION -->
      <section id="instructions">
        <h1>INSTRUCTIONS</h1>
        <div class="justify">
          <p><i>Note that the instructions below pertain to the full version of the game. Not there yet! For now, please enjoy the ability to make a game. </i></p>
        </div>
        <div class="justify">
          <p><u>backOut</u> is a game about emphasis. To begin, click the <i>games</i> link above, and create a new story. </p>
          <p>
          You'll be faced with a sentence, that involves a choice. Two words can be clicked, to shift emphasis. Click one to proceed, and choose again.
          </p>
          <p>
          When you make choices to make the protagonist more hopeful that she can fix her mistake, your hope grows.
          </p>
          <p>
          When you make choices that increase either the protagonist's acceptance of the situation, or her knowledge of it, your wisdom grows.
          </p>
          <p>
          When she gives up, the game is over.
          </p>
          <div class="quote">
            <p>Hope springs eternal in the human breast; </p>
            <p>Man never Is, but always To be blest. </p>
            <p>The soul, uneasy, and confin'd from home, </p>
            <p>Rests and expatiates in a life to come.</p>
            <p><B>ALEXANDER POPE</B></P>
          </div>
        </div>
      </section>
