<!-- INTRO SECTION -->
<section id="intro">
  <h1 id="game-title">back<span id="titlespan">OUT</span></h1>
  <div class="center">
    <p class="justify">
      backOut is a story game, inspired by black out poetry and the choose your own adventure genre of games, about emphasis and what redaction means. The protagonist is a young woman who has made a mistake and hopes to correct it, magically; to play, choose from the available terms what she should be focusing on.
    </p>
    <button class="little-button" id="sign-in-button">SIGN IN</button>
    <button class="little-button" id="sign-up-button">SIGN UP</button>
  </div>
  <div id="sign-forms" class="center">

  </div>
</section>
