<!-- MANY GAMES -->
      <section id="many-games">
        <H1>GAMES</H1>
          <button id="new-game-button" class="little-button">NEW GAME</button>
          <div id="new-game-form-area" class="center">
          </div>
          <div id="display-all-games" class="center">
          </div>
      </section>
