<!-- NAVIGATION SECTION -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background: black;" id="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="https://image.ibb.co/kvUr57/spell_book.png" alt="Toggle me!">
  </button>
  <a class="navbar-brand" href="#" id="greeting-space"><span class="user-greeting"></span></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" id="instructions-link">INSTRUCTIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="game-link">GAMES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="change-password-link">CHANGE PASS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="sign-out-link">SIGN OUT</a>
      </li>

    </ul>
  </div>
</nav>
