<!-- NEW GAME FORM -->
<form id="new-game-form">
  <div class="center">
    <input type="text" name="game[mnemonic]" placeholder="NICKNAME FOR THIS GAME" class="input-field">
  </div>
  <button class="little-button" id="new-game-form-button">CONFIRM</button>
</form>
