<!-- ONE GAME -->
      <section id="one-game">
        <H1 id="mnemonic-title"></H1>
          <div id="stats" class="center">
            <div id="hope-bar">
              <div id="hope-bar-percentage">
              </div>
            </div>
            <div id="hope-text" >HOPE</div>
            <div id="wisdom-bar">
              <div id="wisdom-bar-percentage">
              </div>
            </div>
            <div id="wisdom-text" >WISDOM</div>
        </div>
          <div id="display-one-game">
          </div>
        </section>
