<!-- SIGN IN FORM -->
<h2>SIGN IN</h2>
<form id="sign-in-form">
  <div class="center">
    <input type="text" name="credentials[email]" placeholder="EMAIL" class="input-field">
  </div>
  <div class="center">
  <input type="password" name= "credentials[password]" placeholder="PASSWORD" class="input-field">
  </div>
  <button class="little-button" id="sign-in-form-button">SIGN IN</button>
</form>
`
