<!-- UPDATE GAME -->
<form class="update-game-form" data-id="{{game.id}}">
    <input type="text" name="game[mnemonic]" style="max-width: 200px" value="{{game.mnemonic}}">
</form>
  <span data-id="{{game.id}}" class="cnfrm">CNFRM</span>
  <span data-id="{{game.id}}" class="nvm">NVM</span>
